<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    
    <!--<add name="SkyNetEntities" connectionString="metadata=res://*/DAL.SkyNetEntities.csdl|res://*/DAL.SkyNetEntities.ssdl|res://*/DAL.SkyNetEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SB13-PC\SQLEXPRESS;initial catalog=SkyNet;user id=PROG1;password=AAAaaa111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Service-Base database-->
    <add name="SkyNetExoEntities" connectionString="metadata=res://*/DAL.SkyNetExoEntities.csdl|res://*/DAL.SkyNetExoEntities.ssdl|res://*/DAL.SkyNetExoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\AppData\SkyNetExo.mdf;integrated security=True;connect timeout=30;user instance=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>